In [9]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import pandas_profiling
import scipy.stats as stats
%matplotlib inline

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import sklearn.metrics as metrics
import statsmodels.formula.api as sm

In [32]:
data = pd.read_excel('Data Set.xlsx')
data.head()

,custid,region,townsize,gender,age,agecat,birthmonth,ed,edcat,jobcat,...,owncd,ownpda,ownpc,ownipod,owngame,ownfax,news,response_01,response_02,response_03
0,3964-QJWTRG-NPN,1,2.0,1,20,2,September,15,3,1,...,0,0,0,1,1,0,0,0,1,0
1,0648-AIPJSP-UVM,5,5.0,0,22,2,May,17,4,2,...,1,1,1,1,1,1,1,0,0,0
2,5195-TLUDJE-HVO,3,4.0,1,67,6,June,14,2,2,...,1,0,0,0,0,0,1,0,0,0
3,4459-VLPQUH-3OL,4,3.0,0,23,2,May,16,3,2,...,1,0,1,1,1,0,1,1,0,0
4,8158-SMTQFB-CNO,2,2.0,0,26,3,July,16,3,2,...,1,0,1,0,1,0,0,0,1,0

In [21]:
data.info(verbose=True,null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 130 columns):
custid               5000 non-null object
region               5000 non-null int64
townsize             4998 non-null float64
gender               5000 non-null int64
age                  5000 non-null int64
agecat               5000 non-null int64
birthmonth           5000 non-null object
ed                   5000 non-null int64
edcat                5000 non-null int64
jobcat               5000 non-null int64
union                5000 non-null int64
employ               5000 non-null int64
empcat               5000 non-null int64
retire               5000 non-null int64
income               5000 non-null int64
lninc                5000 non-null float64
inccat               5000 non-null int64
debtinc              5000 non-null float64
creddebt             5000 non-null float64
lncreddebt           4999 non-null float64
othdebt              5000 non-null float64
lnothdebt            4999 non-null float64
default              5000 non-null int64
jobsat               5000 non-null int64
marital              5000 non-null int64
spoused              5000 non-null int64
spousedcat           5000 non-null int64
reside               5000 non-null int64
pets                 5000 non-null int64
pets_cats            5000 non-null int64
pets_dogs            5000 non-null int64
pets_birds           5000 non-null int64
pets_reptiles        5000 non-null int64
pets_small           5000 non-null int64
pets_saltfish        5000 non-null int64
pets_freshfish       5000 non-null int64
homeown              5000 non-null int64
hometype             5000 non-null int64
address              5000 non-null int64
addresscat           5000 non-null int64
cars                 5000 non-null int64
carown               5000 non-null int64
cartype              5000 non-null int64
carvalue             5000 non-null float64
carcatvalue          5000 non-null int64
carbought            5000 non-null int64
carbuy               5000 non-null int64
commute              5000 non-null int64
commutecat           5000 non-null int64
commutetime          4998 non-null float64
commutecar           5000 non-null int64
commutemotorcycle    5000 non-null int64
commutecarpool       5000 non-null int64
commutebus           5000 non-null int64
commuterail          5000 non-null int64
commutepublic        5000 non-null int64
commutebike          5000 non-null int64
commutewalk          5000 non-null int64
commutenonmotor      5000 non-null int64
telecommute          5000 non-null int64
reason               5000 non-null int64
polview              5000 non-null int64
polparty             5000 non-null int64
polcontrib           5000 non-null int64
vote                 5000 non-null int64
card                 5000 non-null int64
cardtype             5000 non-null int64
cardbenefit          5000 non-null int64
cardfee              5000 non-null int64
cardtenure           5000 non-null int64
cardtenurecat        5000 non-null int64
card2                5000 non-null int64
card2type            5000 non-null int64
card2benefit         5000 non-null int64
card2fee             5000 non-null int64
card2tenure          5000 non-null int64
card2tenurecat       5000 non-null int64
cardspent            5000 non-null float64
card2spent           5000 non-null float64
active               5000 non-null int64
bfast                5000 non-null int64
tenure               5000 non-null int64
churn                5000 non-null int64
longmon              5000 non-null float64
lnlongmon            5000 non-null float64
longten              4997 non-null float64
lnlongten            4997 non-null float64
tollfree             5000 non-null int64
tollmon              5000 non-null float64
lntollmon            2378 non-null float64
tollten              5000 non-null float64
lntollten            2378 non-null float64
equip                5000 non-null int64
equipmon             5000 non-null float64
lnequipmon           1704 non-null float64
equipten             5000 non-null float64
lnequipten           1704 non-null float64
callcard             5000 non-null int64
cardmon              5000 non-null float64
lncardmon            3581 non-null float64
cardten              4998 non-null float64
lncardten            3578 non-null float64
wireless             5000 non-null int64
wiremon              5000 non-null float64
lnwiremon            1344 non-null float64
wireten              5000 non-null float64
lnwireten            1344 non-null float64
multline             5000 non-null int64
voice                5000 non-null int64
pager                5000 non-null int64
internet             5000 non-null int64
callid               5000 non-null int64
callwait             5000 non-null int64
forward              5000 non-null int64
confer               5000 non-null int64
ebill                5000 non-null int64
owntv                5000 non-null int64
hourstv              5000 non-null int64
ownvcr               5000 non-null int64
owndvd               5000 non-null int64
owncd                5000 non-null int64
ownpda               5000 non-null int64
ownpc                5000 non-null int64
ownipod              5000 non-null int64
owngame              5000 non-null int64
ownfax               5000 non-null int64
news                 5000 non-null int64
response_01          5000 non-null int64
response_02          5000 non-null int64
response_03          5000 non-null int64
dtypes: float64(31), int64(97), object(2)
memory usage: 5.0+ MB

In [23]:
output = pandas_profiling.ProfileReport(data)
output.to_file(outputfile='pandas_profiling.html')

Based on the correlation of the variables, following variables have been droped.

In [33]:
data = data.drop(columns=['address','age','card2tenure','commute','ed',
                          'equip','lninc','cardmon','equipmon','lntollten',
                          'lnlongmon','tollmon','lnlongten','wiremon','lnequipten',
                         'longmon','spoused','marital','card2tenure','cardtenure','card2tenurecat'])

In [34]:
output = pandas_profiling.ProfileReport(data)
output.to_file(outputfile='pandas_profiling.html')

Based on missing values, the following variables are dropped.

In [35]:
data = data.drop(columns=['lncardmon','lncardten','lnequipmon','lntollmon','lnwiremon','lnwireten'])

In [36]:
output = pandas_profiling.ProfileReport(data)
output.to_file(outputfile='pandas_profiling.html')

In [37]:
data.info(verbose=True,null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 104 columns):
custid               5000 non-null object
region               5000 non-null int64
townsize             4998 non-null float64
gender               5000 non-null int64
agecat               5000 non-null int64
birthmonth           5000 non-null object
edcat                5000 non-null int64
jobcat               5000 non-null int64
union                5000 non-null int64
employ               5000 non-null int64
empcat               5000 non-null int64
retire               5000 non-null int64
income               5000 non-null int64
inccat               5000 non-null int64
debtinc              5000 non-null float64
creddebt             5000 non-null float64
lncreddebt           4999 non-null float64
othdebt              5000 non-null float64
lnothdebt            4999 non-null float64
default              5000 non-null int64
jobsat               5000 non-null int64
spousedcat           5000 non-null int64
reside               5000 non-null int64
pets                 5000 non-null int64
pets_cats            5000 non-null int64
pets_dogs            5000 non-null int64
pets_birds           5000 non-null int64
pets_reptiles        5000 non-null int64
pets_small           5000 non-null int64
pets_saltfish        5000 non-null int64
pets_freshfish       5000 non-null int64
homeown              5000 non-null int64
hometype             5000 non-null int64
addresscat           5000 non-null int64
cars                 5000 non-null int64
carown               5000 non-null int64
cartype              5000 non-null int64
carvalue             5000 non-null float64
carcatvalue          5000 non-null int64
carbought            5000 non-null int64
carbuy               5000 non-null int64
commutecat           5000 non-null int64
commutetime          4998 non-null float64
commutecar           5000 non-null int64
commutemotorcycle    5000 non-null int64
commutecarpool       5000 non-null int64
commutebus           5000 non-null int64
commuterail          5000 non-null int64
commutepublic        5000 non-null int64
commutebike          5000 non-null int64
commutewalk          5000 non-null int64
commutenonmotor      5000 non-null int64
telecommute          5000 non-null int64
reason               5000 non-null int64
polview              5000 non-null int64
polparty             5000 non-null int64
polcontrib           5000 non-null int64
vote                 5000 non-null int64
card                 5000 non-null int64
cardtype             5000 non-null int64
cardbenefit          5000 non-null int64
cardfee              5000 non-null int64
cardtenurecat        5000 non-null int64
card2                5000 non-null int64
card2type            5000 non-null int64
card2benefit         5000 non-null int64
card2fee             5000 non-null int64
cardspent            5000 non-null float64
card2spent           5000 non-null float64
active               5000 non-null int64
bfast                5000 non-null int64
tenure               5000 non-null int64
churn                5000 non-null int64
longten              4997 non-null float64
tollfree             5000 non-null int64
tollten              5000 non-null float64
equipten             5000 non-null float64
callcard             5000 non-null int64
cardten              4998 non-null float64
wireless             5000 non-null int64
wireten              5000 non-null float64
multline             5000 non-null int64
voice                5000 non-null int64
pager                5000 non-null int64
internet             5000 non-null int64
callid               5000 non-null int64
callwait             5000 non-null int64
forward              5000 non-null int64
confer               5000 non-null int64
ebill                5000 non-null int64
owntv                5000 non-null int64
hourstv              5000 non-null int64
ownvcr               5000 non-null int64
owndvd               5000 non-null int64
owncd                5000 non-null int64
ownpda               5000 non-null int64
ownpc                5000 non-null int64
ownipod              5000 non-null int64
owngame              5000 non-null int64
ownfax               5000 non-null int64
news                 5000 non-null int64
response_01          5000 non-null int64
response_02          5000 non-null int64
response_03          5000 non-null int64
dtypes: float64(15), int64(87), object(2)
memory usage: 4.0+ MB