In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [52]:
claims_data = pd.read_csv('claims.csv')
claims_data.head()

,claim_id,customer_id,incident_cause,claim_date,claim_area,police_report,claim_type,claim_amount,total_policy_claims,fraudulent
0,54004764,21868593,Driver error,11/27/2017,Auto,No,Material only,$2980,1.0,No
1,33985796,75740424,Crime,10/03/2018,Home,Unknown,Material only,$2980,3.0,No
2,53522022,30308357,Other driver error,02/02/2018,Auto,No,Material only,$3369.5,1.0,Yes
3,13015401,47830476,Natural causes,06/17/2018,Auto,No,Material only,$1680,1.0,No
4,22890252,19269962,Crime,01/13/2018,Auto,No,Material only,$2680,1.0,No

In [53]:
cust_data = pd.read_csv('cust_demographics.csv')
cust_data = cust_data.rename(columns={'CUST_ID': 'customer_id'})
cust_data.head()

   customer_id  gender DateOfBirth State       Contact   Segment
0     21868593  Female   12-Jan-79    VT  789-916-8172  Platinum
1     75740424  Female   13-Jan-70    ME  265-543-1264    Silver
2     30308357  Female   11-Mar-84    TN  798-631-4758    Silver
3     47830476  Female   01-May-86    MA  413-187-7945    Silver
4     19269962    Male   13-May-77    NV  956-871-8691      Gold

In [54]:
data = pd.merge(cust_data,claims_data,on='customer_id')
data.head()

,customer_id,gender,DateOfBirth,State,Contact,Segment,claim_id,incident_cause,claim_date,claim_area,police_report,claim_type,claim_amount,total_policy_claims,fraudulent
0,21868593,Female,12-Jan-79,VT,789-916-8172,Platinum,54004764,Driver error,11/27/2017,Auto,No,Material only,$2980,1.0,No
1,75740424,Female,13-Jan-70,ME,265-543-1264,Silver,33985796,Crime,10/03/2018,Home,Unknown,Material only,$2980,3.0,No
2,30308357,Female,11-Mar-84,TN,798-631-4758,Silver,53522022,Other driver error,02/02/2018,Auto,No,Material only,$3369.5,1.0,Yes
3,30308357,Female,11-Mar-84,TN,798-631-4758,Silver,63017412,Driver error,04/04/2018,Auto,No,Material only,$1950,6.0,No
4,47830476,Female,01-May-86,MA,413-187-7945,Silver,13015401,Natural causes,06/17/2018,Auto,No,Material only,$1680,1.0,No

2. Perform a data audit for the datatypes and find out if there are any
mismatch within the current datatypes of the columns and their
business significance.

In [55]:
data['DateOfBirth'] = pd.to_datetime(data['DateOfBirth'])
data['claim_date'] = pd.to_datetime(data['claim_date'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1085 entries, 0 to 1084
Data columns (total 15 columns):
customer_id            1085 non-null int64
gender                 1085 non-null object
DateOfBirth            1085 non-null datetime64[ns]
State                  1085 non-null object
Contact                1085 non-null object
Segment                1085 non-null object
claim_id               1085 non-null int64
incident_cause         1085 non-null object
claim_date             1085 non-null datetime64[ns]
claim_area             1085 non-null object
police_report          1085 non-null object
claim_type             1085 non-null object
claim_amount           1020 non-null object
total_policy_claims    1075 non-null float64
fraudulent             1085 non-null object
dtypes: datetime64[ns](2), float64(1), int64(2), object(10)
memory usage: 135.6+ KB

3. Convert the column claim_amount to numeric. Use the appropriate
modules/attributes to remove the $ sign.

In [56]:
data['claim_amount'] = data['claim_amount'].apply(lambda x: float(str(x).replace("$",'')))

In [57]:
data.head()

,customer_id,gender,DateOfBirth,State,Contact,Segment,claim_id,incident_cause,claim_date,claim_area,police_report,claim_type,claim_amount,total_policy_claims,fraudulent
0,21868593,Female,1979-01-12,VT,789-916-8172,Platinum,54004764,Driver error,2017-11-27,Auto,No,Material only,2980.0,1.0,No
1,75740424,Female,1970-01-13,ME,265-543-1264,Silver,33985796,Crime,2018-10-03,Home,Unknown,Material only,2980.0,3.0,No
2,30308357,Female,1984-03-11,TN,798-631-4758,Silver,53522022,Other driver error,2018-02-02,Auto,No,Material only,3369.5,1.0,Yes
3,30308357,Female,1984-03-11,TN,798-631-4758,Silver,63017412,Driver error,2018-04-04,Auto,No,Material only,1950.0,6.0,No
4,47830476,Female,1986-05-01,MA,413-187-7945,Silver,13015401,Natural causes,2018-06-17,Auto,No,Material only,1680.0,1.0,No

4. Of all the injury claims, some of them have gone unreported with the
police. Create an alert flag (1,0) for all such claims.

In [58]:
data.police_report.value_counts()

No         621
Unknown    296
Yes        168
Name: police_report, dtype: int64

In [59]:
data['flag'] = data['police_report'].apply(lambda x: 0 if x == 'Yes' else 1)
data.head()

,customer_id,gender,DateOfBirth,State,Contact,Segment,claim_id,incident_cause,claim_date,claim_area,police_report,claim_type,claim_amount,total_policy_claims,fraudulent,flag
0,21868593,Female,1979-01-12,VT,789-916-8172,Platinum,54004764,Driver error,2017-11-27,Auto,No,Material only,2980.0,1.0,No,1
1,75740424,Female,1970-01-13,ME,265-543-1264,Silver,33985796,Crime,2018-10-03,Home,Unknown,Material only,2980.0,3.0,No,1
2,30308357,Female,1984-03-11,TN,798-631-4758,Silver,53522022,Other driver error,2018-02-02,Auto,No,Material only,3369.5,1.0,Yes,1
3,30308357,Female,1984-03-11,TN,798-631-4758,Silver,63017412,Driver error,2018-04-04,Auto,No,Material only,1950.0,6.0,No,1
4,47830476,Female,1986-05-01,MA,413-187-7945,Silver,13015401,Natural causes,2018-06-17,Auto,No,Material only,1680.0,1.0,No,1

5. One customer can claim for insurance more than once and in each claim,
multiple categories of claims can be involved. However, customer ID
should remain unique.
Retain the most recent observation and delete any duplicated records in
the data based on the customer ID column.

In [60]:
data.shape

(1085, 16)

In [61]:
data = data.drop_duplicates(subset='customer_id', keep='first')
data.shape

(1078, 16)

6. Check for missing values and impute the missing values with an
appropriate value. (mean for continuous and mode for categorical)

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1078 entries, 0 to 1084
Data columns (total 16 columns):
customer_id            1078 non-null int64
gender                 1078 non-null object
DateOfBirth            1078 non-null datetime64[ns]
State                  1078 non-null object
Contact                1078 non-null object
Segment                1078 non-null object
claim_id               1078 non-null int64
incident_cause         1078 non-null object
claim_date             1078 non-null datetime64[ns]
claim_area             1078 non-null object
police_report          1078 non-null object
claim_type             1078 non-null object
claim_amount           1013 non-null float64
total_policy_claims    1068 non-null float64
fraudulent             1078 non-null object
flag                   1078 non-null int64
dtypes: datetime64[ns](2), float64(2), int64(3), object(9)
memory usage: 143.2+ KB

In [63]:
mean = data.claim_amount.mean()
data['claim_amount']  = data.claim_amount.fillna(mean)

data['total_policy_claims'] =  data.total_policy_claims.fillna(data.total_policy_claims.mean())
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1078 entries, 0 to 1084
Data columns (total 16 columns):
customer_id            1078 non-null int64
gender                 1078 non-null object
DateOfBirth            1078 non-null datetime64[ns]
State                  1078 non-null object
Contact                1078 non-null object
Segment                1078 non-null object
claim_id               1078 non-null int64
incident_cause         1078 non-null object
claim_date             1078 non-null datetime64[ns]
claim_area             1078 non-null object
police_report          1078 non-null object
claim_type             1078 non-null object
claim_amount           1078 non-null float64
total_policy_claims    1078 non-null float64
fraudulent             1078 non-null object
flag                   1078 non-null int64
dtypes: datetime64[ns](2), float64(2), int64(3), object(9)
memory usage: 143.2+ KB

7. Calculate the age of customers in years. Based on the age, categorize the
customers according to the below criteria
Children < 18
Youth 18-30
Adult 30-60
Senior > 60

In [64]:
data.DateOfBirth

0      1979-01-12
1      1970-01-13
2      1984-03-11
4      1986-05-01
6      1977-05-13
8      1977-05-17
10     1999-03-02
11     1999-10-25
12     1993-10-12
13     2066-09-09
14     1985-12-30
15     1999-10-31
16     1990-09-16
17     2063-07-22
18     1969-01-14
19     1977-07-26
20     1987-03-15
21     2066-09-07
22     2065-08-13
23     1979-10-10
24     2067-04-22
25     1974-08-08
26     1999-06-21
27     1980-02-17
28     1981-12-13
29     1995-04-01
30     1985-05-07
31     1996-10-29
32     2062-07-27
33     1969-02-27
          ...
1055   2068-04-22
1056   1972-07-02
1057   1976-07-05
1058   2063-03-18
1059   1978-05-26
1060   1990-06-11
1061   1970-02-11
1062   1980-05-18
1063   1975-01-18
1064   1987-10-09
1065   1974-07-03
1066   1984-10-09
1067   1999-11-04
1068   1975-09-02
1069   1969-05-28
1070   1983-01-02
1071   1982-10-01
1072   1988-02-05
1073   1977-03-10
1074   2061-11-18
1075   1973-10-09
1076   1981-07-10
1077   2064-04-22
1078   1997-10-21
1079   2062-08-21
1080   1981-03-15
1081   1996-07-07
1082   1990-04-11
1083   2064-10-22
1084   1995-07-12
Name: DateOfBirth, Length: 1078, dtype: datetime64[ns]