# Filtering and Sorting Data

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset *chipotle.tsv*

In [45]:
chipo = pd.read_table("C:/Analytix/Assignments/Dataset/chipotle.tsv",sep="\t")

### Step 3. Assign it to a variable called chipo.

In [46]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00? 

Use `str` attribute to remove the $ sign and convert the column to proper numeric type data before filtering.

In [47]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(str(x).replace("$","")))
print("There are {} products costing more than $10.00.".format(chipo['item_price'][chipo['item_price'] > 10].count()))

There are 1130 products costing more than $10.00.

In [48]:
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

### Step 5. What is the price of each item? 

print a data frame with only two columns `item_name` and `item_price`

In [49]:
chipo[['item_name','item_price']].head()

                               item_name  item_price
0           Chips and Fresh Tomato Salsa        2.39
1                                   Izze        3.39
2                       Nantucket Nectar        3.39
3  Chips and Tomatillo-Green Chili Salsa        2.39
4                           Chicken Bowl       16.98

### Step 6. Sort by the name of the item

In [50]:
chipo.sort_values(by='item_name').head(10)

      order_id  quantity          item_name choice_description  item_price
3389      1360         2  6 Pack Soft Drink        [Diet Coke]       12.98
341        148         1  6 Pack Soft Drink        [Diet Coke]        6.49
1849       749         1  6 Pack Soft Drink             [Coke]        6.49
1860       754         1  6 Pack Soft Drink        [Diet Coke]        6.49
2713      1076         1  6 Pack Soft Drink             [Coke]        6.49
3422      1373         1  6 Pack Soft Drink             [Coke]        6.49
553        230         1  6 Pack Soft Drink        [Diet Coke]        6.49
1916       774         1  6 Pack Soft Drink        [Diet Coke]        6.49
1922       776         1  6 Pack Soft Drink             [Coke]        6.49
1937       784         1  6 Pack Soft Drink        [Diet Coke]        6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [51]:
print("The quantity of the most expensive ordered item ({}) is {}.".format(chipo.loc[chipo['item_price'].idxmax()]['item_name'],chipo.loc[chipo['item_price'].idxmax()]['quantity']))

The quantity of the most expensive ordered item (Chips and Fresh Tomato Salsa) is 15.

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [52]:
print("Veggie Salad Bowl was ordered {} times.".format(chipo['item_name'][chipo['item_name'] == 'Veggie Salad Bowl'].count()))

Veggie Salad Bowl was ordered 18 times.

### Step 9. How many times people orderd more than one Canned Soda?

In [53]:
print("{} times people orderd more than one Canned Soda.".format(chipo['order_id'][chipo['item_name'] == 'Canned Soda'][chipo['quantity'] > 1].count()))

20 times people orderd more than one Canned Soda.